/* GERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Cinzel', serif;

}

.container {
    margin-left: 50px;
    margin-right: 50px;

}


header {
    display: flex;
    text-align: center;
}

.topbar__menu-link--borda{
    border: 2px solid rgba(255, 235, 176, 0.747);
    border-radius: 8px 6px;
    padding: 8px 15px;
    color: #FFEBB0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 1.7rem;
    padding: 25px;
    color: rgba(180, 172, 172, 0.829);
    
}
a:hover {
    color: rgba(211, 195, 195, 0.75)
}


.topbar__logobranco {
    width: 20%;
}

.topbar {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    display: none;
}

.topbar__menu {
    width: 99%;
    display: flex;
    justify-content: center;
}


.topbar__menu-itens{
    display: flex;
    list-style: none;
    margin: 50px;
}

/* MENU HAMBURGUER*/

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #353541;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
}

.navigation a {
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 1.6rem;
}

.navigation ul {
    margin-top:30px;
    text-align:center;
    list-style:none; 
    margin-left:auto;
    margin-right:auto;
}

.menulist {
    width:200px;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:#fff;
  width:25px;
  height:3px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:rgba(126, 122, 88, 0.397);
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:rgba(126, 122, 88, 0.397);
}

.line3.active {
  transform: rotate(-45deg);
  background-color:rgba(126, 122, 88, 0.397);
  top:-7px;
}

.menuitems {
    padding-top:12px;
    padding-bottom:12px;
    text-decoration: none;
    list-style:none; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
    position:relative;	
    text-align:center;
    color: #fff;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:after {
  content:'';
  display:block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .2s;
}

.menuitems:hover::after {
    width:100%;
}

#closebtn {
    height:25px;
    width:25px;	
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    trainsition:background-position .3s;
}

#main {	
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}


/*HEADER*/


.logo {
    width: 60%;
}

.background {
    background-image: url(../img/maquina-costura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 0;

}

.caixa-titulo-subtitulo {
    color: #b1b1b1;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    // background-color: #0808088c;
    font-weight: lighter;
}

.titulo {
    font-size: 1.8rem;
    font-family: 'Cinzel', serif;
    font-weight: 300;
    text-transform: uppercase;
}

.caixa-subtitulo{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.subtitulo {
    font-size: 1.5rem;
}

.caixa-btn-header {
    margin-top: 40px;
}

.btn-yellow{
  color: #8F783A;
  background-color:rgb(65, 54, 20);
  padding: 15px 45px;
  border-radius: 3px;
  font-weight:bold;
  font-size: 2.5rem;
}