div.error {
    color: rgba(255, 0, 0, 0.774);
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

input.error {
    border-color: rgba(255, 0, 0, 0.548);
}

textarea.error {
    border-color: rgba(255, 0, 0, 0.548);
}